In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('nifty50.csv')

In [6]:
df.head()

   index      date   time     open     high      low    close
0  NIFTY  20130401  09:16  5701.15  5704.65  5694.30  5697.00
1  NIFTY  20130401  09:17  5697.05  5698.35  5695.65  5697.50
2  NIFTY  20130401  09:18  5697.90  5697.90  5690.60  5692.15
3  NIFTY  20130401  09:19  5691.65  5694.70  5691.65  5693.90
4  NIFTY  20130401  09:20  5694.40  5695.05  5693.35  5694.55

In [10]:
df.columns

Index(['index', 'date', 'time', 'open', 'high', 'low', 'close'], dtype='object')

In [12]:
df.values

array([['NIFTY', 20130401, '09:16', ..., 5704.65, 5694.3, 5697.0],
       ['NIFTY', 20130401, '09:17', ..., 5698.35, 5695.65, 5697.5],
       ['NIFTY', 20130401, '09:18', ..., 5697.9, 5690.6, 5692.15],
       ...,
       ['NIFTY', 20160930, '15:28', ..., 8618.65, 8616.85, 8617.5],
       ['NIFTY', 20160930, '15:29', ..., 8618.8, 8615.6, 8616.65],
       ['NIFTY', 20160930, '15:30', ..., 8622.75, 8615.3, 8620.95]],
      dtype=object)

In [13]:
df.count()

index    352920
date     352920
time     352920
open     352920
high     352920
low      352920
close    352920
dtype: int64

In [20]:

plt.Ylabel('high points')
plt.Xlabel('time')
plt.show()

TypeError: 'module' object is not callable

## updated till .csv importing